<div class="card">
    <div class="row card-header">
        <button type="submit" class="btn btn-info btn-sm mb-0 align-bottom"  class="btn btn-sm btn-success toolbar-btn ml-1"><i class="fa fa-save"></i>Save</button>
        <h6 class="mt-2 mr-2">Status:</h6>
    </div>
  <div class="card-body">
        <div class="form-row m-0 p-0">
          <div class="form-group col-md-3">
            <label for="AgreementNumber" class="font-weight-bold" readonly>Well Number:</label>
            <input name="AgreementNumber" type="text" class="form-control form-control-sm" placeholder="">
          </div>
          <div class="form-group col-md-3">
              <label for="AgreementNumber" class="font-weight-bold">Alt. Well Number:</label>
              <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
          </div>
          <div class="form-group col-md-2">
              <label for="AgreementNumber" class="font-weight-bold">API number:</label>
              <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
          </div>
          <div class="form-group col-md-2">
              <label for="AgreementNumber" class="font-weight-bold">Status:</label>
              <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
          </div>
          <div class="form-group col-md-2">
            <label for="Lessor" class="font-weight-bold" readonly>Division:</label>
            <input name="Lessor" type="text" class="form-control" placeholder="">
          </div>
        </div>
        <div class="form-row m-0">
            <div class="form-group col-md-3">
              <label for="AltAgreementNumber" class="font-weight-bold">Well Name:</label>
              <input name="AltAgreementNumber" type="text" class="form-control bg-white" placeholder="">
            </div>
            <div class="form-group col-md-3">
              <label for="Lessee" class="font-weight-bold">Alt. Well Name:</label>
              <input name="Lessee" type="text" class="form-control bg-white" placeholder="">
            </div>
            <div class="form-group col-md-2">
                <label for="Lessee" class="font-weight-bold">Operator:</label>
                <input name="Lessee" type="text" class="form-control bg-white" placeholder="">
            </div>
            <div class="form-group col-md-2">
                <label for="Lessee" class="font-weight-bold">Sub-Status:</label>
                <input name="Lessee" type="text" class="form-control bg-white" placeholder="">
            </div>
            <div class="form-group col-md-2">
                <label for="Lessee" class="font-weight-bold">District:</label>
                <input name="Lessee" type="text" class="form-control" placeholder="" readonly>
            </div>
        </div>
        <div class="form-row m-0">
            <div class="form-group col-md-3">
              <label for="AltAgreementNumber" class="font-weight-bold">Well Type:</label>
              <input name="AltAgreementNumber" type="text" class="form-control bg-white" placeholder="">
            </div>
            <div class="form-group col-md-3">
              <label for="Lessee" class="font-weight-bold">Property Num Ref:</label>
              <input name="Lessee" type="text" class="form-control bg-white" placeholder="">
            </div>
            <div class="form-group col-md-2">
                <label for="Lessee" class="font-weight-bold">SHL Lat:</label>
                <input name="Lessee" type="text" class="form-control bg-white" placeholder="">
            </div>
            <div class="form-group col-md-2">
                <label for="Lessee" class="font-weight-bold">Total Depth V:</label>
                <input name="Lessee" type="text" class="form-control bg-white" placeholder="">
            </div>
            <div class="form-group col-md-2">
                <label for="Lessee" class="font-weight-bold">Region:</label>
                <input name="Lessee" type="text" class="form-control" placeholder="" readonly>
            </div>
        </div>
        <div class="form-row m-0">
            <div class="form-group col-md-3">
              <label for="AltAgreementNumber" class="font-weight-bold">Gross Acres:</label>
              <input name="AltAgreementNumber" type="text" class="form-control bg-white" placeholder="">
            </div>
            <div class="form-group col-md-3">
              <label for="Lessee" class="font-weight-bold">Well Bore Type:</label>
              <input name="Lessee" type="text" class="form-control bg-white" placeholder="">
            </div>
            <div class="form-group col-md-2">
                <label for="Lessee" class="font-weight-bold">SHL Long:</label>
                <input name="Lessee" type="text" class="form-control bg-white" placeholder="">
            </div>
            <div class="form-group col-md-2">
                <label for="Lessee" class="font-weight-bold">Total Depth M:</label>
                <input name="Lessee" type="text" class="form-control bg-white" placeholder="">
            </div>
            <div class="form-group col-md-2">
                <label for="Lessee" class="font-weight-bold">Prospect:</label>
                <input name="Lessee" type="text" class="form-control" placeholder="" readonly>
            </div>
        </div>
        <div class="form-row m-0">
            <div class="form-group col-md-6">
              <label for="AltAgreementNumber" class="font-weight-bold">Spacing Unit:</label>
              <input name="AltAgreementNumber" type="text" class="form-control bg-white" placeholder="">
            </div>
            <div class="form-group col-md-2">
                <label for="Lessee" class="font-weight-bold">BHL Lat:</label>
                <input name="Lessee" type="text" class="form-control bg-white" placeholder="">
            </div>
            <div class="form-group col-md-2">
                <label for="Lessee" class="font-weight-bold">Reservoir:</label>
                <input name="Lessee" type="text" class="form-control bg-white" placeholder="">
            </div>
            <div class="form-group col-md-2">
                <label for="Lessee" class="font-weight-bold">Unit:</label>
                <input name="Lessee" type="text" class="form-control" placeholder="" readonly>
            </div>
        </div>
        <div class="form-row m-0">
            <div class="form-group col-md-1">
              <label for="AltAgreementNumber" class="font-weight-bold">WI:</label>
              <input name="AltAgreementNumber" type="text" class="form-control" placeholder="" readonly>
            </div>
            <div class="form-group col-md-1">
              <label for="Lessee" class="font-weight-bold">NRI Oil:</label>
              <input name="Lessee" type="text" class="form-control" placeholder="" readonly>
            </div>
            <div class="form-group col-md-1">
                <label for="Lessee" class="font-weight-bold">NRI Gas:</label>
                <input name="Lessee" type="text" class="form-control" placeholder="" readonly>
            </div>
            <div class="form-group col-md-1">
                <label for="Lessee" class="font-weight-bold">ORRI:</label>
                <input name="Lessee" type="text" class="form-control" placeholder="" readonly>
            </div>
            <div class="form-group col-md-2">
            </div>
            <div class="form-group col-md-2">
                <label for="Lessee" class="font-weight-bold">BHL Long:</label>
                <input name="Lessee" type="text" class="form-control bg-white" placeholder="">
            </div>
            <div class="form-group col-md-2">
                <label for="Lessee" class="font-weight-bold">Field Name:</label>
                <input name="Lessee" type="text" class="form-control bg-white" placeholder="">
            </div>
            <div class="form-group col-md-1">
                <button class="btn form-control"> Show Map</button>
            </div>
        </div>
        <div class="form-row m-0">
            <div class="form-group col-md-2">
              <label for="AltAgreementNumber" class="font-weight-bold">RI:</label>
              <input name="AltAgreementNumber" type="text" class="form-control" placeholder="" readonly>
            </div>
            <div class="form-group col-md-2">
              <label for="Lessee" class="font-weight-bold">APO WI:</label>
              <input name="Lessee" type="text" class="form-control" placeholder="" readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="Lessee" class="font-weight-bold">APO NRI:</label>
                <input name="Lessee" type="text" class="form-control" placeholder="" readonly>
            </div>
            <div class="form-group col-md-2">
                <label for="Lessee" class="font-weight-bold">Proposed Lateral Length</label>
                <input name="Lessee" type="text" class="form-control bg-white" placeholder="">
            </div>
            <div class="form-group col-md-2">
                <label for="Lessee" class="font-weight-bold">Regulatory Link:</label>
                <input name="Lessee" type="text" class="form-control bg-white" placeholder="">
            </div>
        </div>
        <div class="form-row m-0">
            <div class="form-group col-md-3">
              <label for="AltAgreementNumber" class="font-weight-bold">Source:</label>
              <input name="AltAgreementNumber" type="text" class="form-control bg-white" placeholder="">
            </div>
            <div class="form-group col-md-3">
              <label for="Lessee" class="font-weight-bold">AMI:</label>
              <input name="Lessee" type="text" class="form-control bg-white" placeholder="">
            </div>
            <div class="form-group col-md-2">
                <label for="Lessee" class="font-weight-bold">BIA/FED/ST:</label>
                <input class="form-control" type="checkbox" value="" id="defaultCheck1">
            </div>
            <div class="form-group col-md-2">
                <label for="Lessee" class="font-weight-bold">Gas Purchaser:</label>
                <input name="Lessee" type="text" class="form-control bg-white" placeholder="">
            </div>
        </div>
        <div class="form-row m-0">
            <div class="form-group col-md-8">
            </div>
            <div class="form-group col-md-2">
              <label for="Lessee" class="font-weight-bold">Oil Purchaser:</label>
              <input name="Lessee" type="text" class="form-control bg-white" placeholder="">
            </div>
        </div>
        <div class="form-row m-0">
            <div class="form-group col-md-4 d-inline">
                <label for="Lessee" class="font-weight-bold">Other Interests:</label>
                <input name="Lessee" type="text" class="form-control bg-white" placeholder="">

            </div>
            <div class="form-group col-md-4 d-inline">
                <label for="Lessee" class="font-weight-bold">Payout Tracking:</label>
                <input name="Lessee" type="text" class="form-control bg-white" placeholder="">
            </div>
            <div class="form-group col-md-2">
                <label for="Lessee" class="font-weight-bold">Insurace Election:</label>
                <input name="Lessee" type="text" class="form-control bg-white" placeholder="">
            </div>
            <div class="form-group col-md-2">
                <label for="Lessee" class="font-weight-bold">Marketing Election:</label>
                <input name="Lessee" type="text" class="form-control bg-white" placeholder="">
            </div>
        </div>
        
    </div>
</div>

