<div class="card">
    <div class="row card-header">
        <button type="submit" class="btn btn-info btn-sm mb-0 align-bottom"  class="btn btn-sm btn-success toolbar-btn ml-1"><i class="fa fa-save"></i>Save</button>
    </div>
  <div class="card-body">
        <div class="form-row m-0 p-0">
          <div class="form-group col-md-1">
            <label for="AgreementNumber" class="font-weight-bold">BA#:</label>
            <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
          </div>
          <div class="form-group col-md-3">
              <label for="AgreementNumber" class="font-weight-bold">BA Name:</label>
              <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
          </div>
          <div class="form-group col-md-3">
              <label for="AgreementNumber" class="font-weight-bold">BA Name 2:</label>
              <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
          </div>
          <div class="form-group col-md-1">
              <label for="AgreementNumber" class="font-weight-bold">Suffix:</label>
              <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
          </div>
          <div class="form-group col-md-2">
            <label for="Lessor" class="font-weight-bold">First Name:</label>
            <input name="Lessor" type="text" class="form-control form-control-sm bg-white" placeholder="">
          </div>
          <div class="form-group col-md-2">
              <label for="Lessor" class="font-weight-bold" readonly>Last Name:</label>
              <input name="Lessor" type="text" class="form-control form-control-sm bg-white" placeholder="">
            </div>
        </div>
        <div class="form-row m-0 p-0">
            <div class="form-group col-md-1">
              <label for="AgreementNumber" class="font-weight-bold">Alt#:</label>
              <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
            </div>
            <div class="form-group col-md-2">
                <label for="AgreementNumber" class="font-weight-bold">Payment Type:</label>
                <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
            </div>
            <div class="form-group col-md-2">
                <label for="AgreementNumber" class="font-weight-bold">Minimum Suspense:</label>
                <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
            </div>
            <div class="form-group col-md-2">
                <label for="AgreementNumber" class="font-weight-bold">Tax Class</label>
                <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
            </div>
            <div class="form-group col-md-2">
              <label for="Lessor" class="font-weight-bold">TIN:</label>
              <input name="Lessor" type="text" class="form-control form-control-sm bg-white" placeholder="">
            </div>
            <div class="form-group col-md-3">
                <label for="Lessor" class="font-weight-bold" readonly>Email:</label>
                <input name="Lessor" type="text" class="form-control form-control-sm bg-white" placeholder="">
              </div>
          </div>       
    </div>
</div>

