<form>
    <div class="card m-0">
        <div class="card-body">
            <div class="form-row m-0 p-0">
              <!-- FIRST COLUMN -->
                <div class="col border">
                  <div class="form-group">
                    <label for="AgreementNumber" class="font-weight-bold">Well Number:</label>
                    <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                  </div>
                  <div class="form-group">
                      <label for="AgreementNumber" class="font-weight-bold">Alt Well Number:</label>
                      <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                  </div>
                  <div class="form-group">
                      <label for="AgreementNumber" class="font-weight-bold">Property Num Ref:</label>
                      <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                  </div>
                  <div class="form-group">
                      <label for="AgreementNumber" class="font-weight-bold">API Number:</label>
                      <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                  </div>
                  <div class="form-group">
                      <label for="AgreementNumber" class="font-weight-bold">Well Name:</label>
                      <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                  </div>
                  <div class="form-group">
                      <label for="AgreementNumber" class="font-weight-bold">Well Type:</label>
                      <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                  </div>
                  <div class="form-group">
                      <label for="AgreementNumber" class="font-weight-bold">WellBore Type:</label>
                      <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                  </div>
                  <div class="form-group">
                      <label for="AgreementNumber" class="font-weight-bold">Status:</label>
                      <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                  </div>
                  <div class="form-group">
                      <label for="AgreementNumber" class="font-weight-bold">Sub-Status:</label>
                      <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                  </div>
                  <div class="form-group">
                      <label for="AgreementNumber" class="font-weight-bold">Source:</label>
                      <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                  </div>
                  <div class="form-group">
                      <label for="AgreementNumber" class="font-weight-bold">Location Type:</label>
                      <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                  </div>
                </div>
                <!-- SECOND COLUMN -->
                <div class="col border">
                    <div class="form-group">
                        <label for="AgreementNumber" class="font-weight-bold">Owner Name:</label>
                        <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="AgreementNumber" class="font-weight-bold">Operator:</label>
                        <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="AgreementNumber" class="font-weight-bold">Purchaser:</label>
                        <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="AgreementNumber" class="font-weight-bold">Alternate Well Name:</label>
                        <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                    </div>
                    <div class="form-row m-0 p-0">
                        <div class=" form-group col-sm">
                          <label for="AgreementNumber" class="font-weight-bold">Field:</label>
                          <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                        </div>
                        <div class=" form-group col-sm">
                            <label for="AgreementNumber" class="font-weight-bold">Reservoir:</label>
                            <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="AgreementNumber" class="font-weight-bold">Cross References:</label>
                        <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="AgreementNumber" class="font-weight-bold">Comment:</label>
                        <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="AgreementNumber" class="font-weight-bold">Interest Note:</label>
                        <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                    </div>
                </div>
                <!-- THIRD COLUMN -->
                <div class="col border">
                    <div class="form-row m-0 p-0">
                        <div class=" form-group col-sm">
                          <label for="AgreementNumber" class="font-weight-bold">Division:</label>
                          <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                        </div>
                        <div class=" form-group col-sm">
                            <label for="AgreementNumber" class="font-weight-bold">District:</label>
                            <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                        </div>
                    </div>
                    <div class="form-row m-0 p-0">
                        <div class=" form-group col-sm">
                          <label for="AgreementNumber" class="font-weight-bold">Region:</label>
                          <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                        </div>
                        <div class=" form-group col-sm">
                            <label for="AgreementNumber" class="font-weight-bold">Prospect:</label>
                            <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="AgreementNumber" class="font-weight-bold">Units:</label>
                        <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="AgreementNumber" class="font-weight-bold">Spacing Unit:</label>
                        <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="AgreementNumber" class="font-weight-bold">State:</label>
                        <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="AgreementNumber" class="font-weight-bold">County:</label>
                        <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                    </div>
                    <div class="form-row m-0 p-0">
                        <div class=" form-group col-sm">
                          <label for="AgreementNumber" class="font-weight-bold">SEC:</label>
                          <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                        </div>
                        <div class=" form-group col-sm">
                            <label for="AgreementNumber" class="font-weight-bold">TWN:</label>
                            <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                        </div>
                        <div class=" form-group col-sm">
                            <label for="AgreementNumber" class="font-weight-bold">Dir:</label>
                            <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                        </div>
                        <div class=" form-group col-sm">
                            <label for="AgreementNumber" class="font-weight-bold">RNG:</label>
                            <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                        </div>
                        <div class=" form-group col-sm">
                            <label for="AgreementNumber" class="font-weight-bold">Dir:</label>
                            <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                        </div>
                    </div>
                    <div class="form-row m-0 p-0">
                        <div class=" form-group col-sm">
                          <label for="AgreementNumber" class="font-weight-bold">Abstract/Parcel:</label>
                          <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                        </div>
                        <div class=" form-group col-sm">
                            <label for="AgreementNumber" class="font-weight-bold">Block:</label>
                            <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                        </div>
                        <div class=" form-group col-sm">
                            <label for="AgreementNumber" class="font-weight-bold">Survey/Township:</label>
                            <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                        </div>
                    </div>
                    <div class="form-row m-0 p-0">
                        <div class=" form-group col-sm">
                          <label for="AgreementNumber" class="font-weight-bold">Payout Tracking:</label>
                          <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                        </div>
                        <div class=" form-group col-sm">
                            <label for="AgreementNumber" class="font-weight-bold">Other Interests:</label>
                            <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                        </div>
                    </div>
                    <div class="form-row m-0 p-0">
                        <div class=" form-group col-sm">
                          <label for="AgreementNumber" class="font-weight-bold">GeoCode Date (Start):</label>
                          <input name="AgreementNumber" type="date" class="form-control form-control-sm bg-white" placeholder="">
                        </div>
                        <div class=" form-group col-sm">
                            <label for="AgreementNumber" class="font-weight-bold">(End)</label>
                            <input name="AgreementNumber" type="date" class="form-control form-control-sm bg-white" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="AgreementNumber" class="font-weight-bold">GeoCode:</label>
                        <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                    </div>
                </div>
                <!-- FOURTH COLUMN -->
                <div class="col border">
                    <div class="form-row m-0 p-0">
                        <div class=" form-group col">
                          <label for="AgreementNumber" class="font-weight-bold">Proposed Date</label>
                          <input name="AgreementNumber" type="date" class="form-control form-control-sm bg-white" placeholder="">
                        </div>
                        <div class=" form-group col">
                            <label for="AgreementNumber" class="font-weight-bold">:</label>
                            <input name="AgreementNumber" type="date" class="form-control form-control-sm bg-white" placeholder="">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm">
                          <input type="date" class="form-control" placeholder="First name">
                        </div>
                        <div class="col-sm">
                          <input type="date" class="form-control" placeholder="Last name">
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
  </form>
      <!-- <ng2-toasty [position]="position"></ng2-toasty> -->
  
