<form>
    <div class="card m-0">
        <div class="card-body">
            <div class="form-row m-0 p-0">
              <!-- FIRST COLUMN -->
                <div class="col">
                  <div class="form-group">
                    <label for="AgreementNumber" class="font-weight-bold">BA Number:</label>
                    <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                  </div>
                  <div class="form-group">
                      <label for="AgreementNumber" class="font-weight-bold">BA Name:</label>
                      <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                  </div>
                </div>
                <!-- SECOND COLUMN -->
                <div class="col">
                    <div class="form-group">
                        <label for="AgreementNumber" class="font-weight-bold">Address:</label>
                        <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                    </div>
                    <div class="form-row m-0 p-0">
                        <div class=" form-group col-8">
                          <label for="AgreementNumber" class="font-weight-bold">City:</label>
                          <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                        </div>
                        <div class=" form-group col-4">
                            <label for="AgreementNumber" class="font-weight-bold">Zip:</label>
                            <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                        </div>
                    </div>
                    <div class="form-row m-0 p-0">
                        <div class=" form-group col-sm">
                          <label for="AgreementNumber" class="font-weight-bold">Phone #:</label>
                          <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                        </div>
                        <div class=" form-group col-sm">
                            <label for="AgreementNumber" class="font-weight-bold">TIN:</label>
                            <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                        </div>
                    </div>
                </div>
                <!-- THIRD COLUMN -->
                <div class="col">
                    <div class="form-group">
                        <label for="AgreementNumber" class="font-weight-bold">Email:</label>
                        <input name="AgreementNumber" type="email" class="form-control form-control-sm bg-white" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="AgreementNumber" class="font-weight-bold">Well:</label>
                        <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="AgreementNumber" class="font-weight-bold">Cases:</label>
                        <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                    </div>
                </div>
                <!-- FOURTH COLUMN -->
                <div class="col">
                    <div class="form-group">
                        <label for="AgreementNumber" class="font-weight-bold">Comment:</label>
                        <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                    </div>
                    <div class="form-row m-0 p-0">
                        <div class=" form-group col-sm">
                          <label for="AgreementNumber" class="font-weight-bold">Comment Date:</label>
                          <input name="AgreementNumber" type="date" class="form-control form-control-sm bg-white" placeholder="">
                        </div>
                        <div class=" form-group col-sm">
                            <label for="AgreementNumber" class="font-weight-bold">:</label>
                            <input name="AgreementNumber" type="date" class="form-control form-control-sm bg-white" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="AgreementNumber" class="font-weight-bold">Comment User:</label>
                        <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                    </div>
                </div>
            </div>
        </div>
    </div>
  </form>
      <!-- <ng2-toasty [position]="position"></ng2-toasty> -->
  

