.sticky-top{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: aliceblue;

    .toolbar-btn{

        margin: 0;
        margin-right: 1em;
    }
    
    .icon-btn{
        padding-right: 0px;
    }

    // #save {

    // }

    #datasheet {
        background-color: #06b8ff;
    }

    #Agreement-Status{
        width: 15em;
        padding: 0;
    }
}



