<form>
  <div class="card m-0">
      <div class="card-body">
          <div class="form-row m-0 p-0">
            <!-- FIRST COLUMN -->
              <div class="col border">
                <div class="form-group">
                  <label for="AgreementNumber" class="font-weight-bold">Unit Number:</label>
                  <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                </div>
                <div class="form-group">
                    <label for="AgreementNumber" class="font-weight-bold">Unit Name:</label>
                    <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                </div>
                <div class="form-group">
                    <label for="AgreementNumber" class="font-weight-bold">Unit Status:</label>
                    <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                </div>
                <div class="form-group">
                    <label for="AgreementNumber" class="font-weight-bold">Unit Type:</label>
                    <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                </div>
                <div class="form-group">
                    <label for="AgreementNumber" class="font-weight-bold">Operator:</label>
                    <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                </div>
                <div class="form-group">
                    <label for="AgreementNumber" class="font-weight-bold">Unit Acres:</label>
                    <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                </div>
                <div class="form-group">
                    <label for="AgreementNumber" class="font-weight-bold">Unit Description:</label>
                    <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                </div>
                <div class="form-group">
                    <label for="AgreementNumber" class="font-weight-bold">Entity Search:</label>
                    <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                </div>
              </div>
              <!-- SECOND COLUMN -->
              <div class="col border">
                  <div class="form-group">
                      <label for="AgreementNumber" class="font-weight-bold">State:</label>
                      <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                  </div>
                  <div class="form-group">
                      <label for="AgreementNumber" class="font-weight-bold">County:</label>
                      <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                  </div>
                  <div class="form-row m-0 p-0">
                      <div class=" form-group col-sm">
                        <label for="AgreementNumber" class="font-weight-bold">SEC:</label>
                        <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                      </div>
                      <div class=" form-group col-sm">
                          <label for="AgreementNumber" class="font-weight-bold">TWN:</label>
                          <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                      </div>
                      <div class=" form-group col-sm">
                          <label for="AgreementNumber" class="font-weight-bold">Dir:</label>
                          <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                      </div>
                      <div class=" form-group col-sm">
                          <label for="AgreementNumber" class="font-weight-bold">TWN:</label>
                          <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                      </div>
                      <div class=" form-group col-sm">
                          <label for="AgreementNumber" class="font-weight-bold">Dir:</label>
                          <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="AgreementNumber" class="font-weight-bold">Quartering:</label>
                      <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                  </div>
                  <div class="form-group">
                      <label for="AgreementNumber" class="font-weight-bold">Metes And Bounds:</label>
                      <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                  </div>
                  <div class="form-group">
                      <label for="AgreementNumber" class="font-weight-bold">Team:</label>
                      <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                  </div>
                  <div class="form-group">
                      <label for="AgreementNumber" class="font-weight-bold">Comment:</label>
                      <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                  </div>
              </div>
              <!-- THIRD COLUMN -->
              <div class="col border">
                  <div class="form-group">
                      <label for="AgreementNumber" class="font-weight-bold">Survey:</label>
                      <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                  </div>
                  <div class="form-group">
                      <label for="AgreementNumber" class="font-weight-bold">Block:</label>
                      <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                  </div>
                  <div class="form-group">
                      <label for="AgreementNumber" class="font-weight-bold">Abstract:</label>
                      <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                  </div>
                  <div class="form-group">
                      <label for="AgreementNumber" class="font-weight-bold">Lot:</label>
                      <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                  </div>
                  <div class="form-group">
                      <label for="AgreementNumber" class="font-weight-bold">Grade:</label>
                      <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                  </div>
                  <div class="form-group">
                      <label for="AgreementNumber" class="font-weight-bold">:</label>
                      <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                  </div>
                  <div class="form-row m-0 p-0">
                      <div class=" form-group col-sm">
                        <label for="AgreementNumber" class="font-weight-bold">Division:</label>
                        <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                      </div>
                      <div class=" form-group col-sm">
                          <label for="AgreementNumber" class="font-weight-bold">District:</label>
                          <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                      </div>
                  </div>
                  <div class="form-row m-0 p-0">
                      <div class=" form-group col-sm">
                        <label for="AgreementNumber" class="font-weight-bold">Region:</label>
                        <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                      </div>
                      <div class=" form-group col-sm">
                          <label for="AgreementNumber" class="font-weight-bold">Prospect:</label>
                          <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                      </div>
                  </div>
              </div>
              <!-- FOURTH COLUMN -->
              <div class="col border">
                  <div class="form-group">
                      <label for="AgreementNumber" class="font-weight-bold">Cross References:</label>
                      <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                  </div>
                  <div class="form-group">
                      <label for="AgreementNumber" class="font-weight-bold">Unit Configuration:</label>
                      <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                  </div>
                  <div class="form-row m-0 p-0">
                      <div class=" form-group col-sm">
                        <label for="AgreementNumber" class="font-weight-bold">GeoCode Date:</label>
                        <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="Start Date">
                      </div>
                      <div class=" form-group col-sm">
                          <label for="AgreementNumber" class="font-weight-bold">.</label>
                          <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="End Date">
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="AgreementNumber" class="font-weight-bold">GeoCode:</label>
                      <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                  </div>
              </div>
          </div>
      </div>
  </div>
</form>
    <!-- <ng2-toasty [position]="position"></ng2-toasty> -->
