<form *ngIf="NewAgreement" (ngSubmit)="createNewAgreement(NewAgreement)">
  <div class="card m-0" *ngIf="SelectOptions">
    <div class="row card-header">
      <button type="submit" class="btn btn-info btn-sm mb-0 align-bottom" [placement]="'bottom'" ngbTooltip="Save Agreement" class="btn btn-sm btn-success toolbar-btn ml-1"><i class="fa fa-save"></i>Save</button>
      <h6 class="mt-2 mr-2">Status:</h6>
      <ng-select 
        [items]="SelectOptions.AgreementStatuses"
        bindLabel="AgreementStatusDesc"
        bindValue = 'AgreementStatusCode'
        placeholder="Select Status"
        dropdownPosition= 'bottom'
        [(ngModel)]="NewAgreement.AgreementStatusCode"
        name="AgreementStatusCode"
        class="btn-sm"
        id="AgreementStatusCode">
      </ng-select>
      <div class="form-check">
        <input name="Lead" class="form-check-input" type="checkbox" id="Lead" [(ngModel)]="NewAgreement.Lead">
        <label class="form-check-label" for="Lead">Lead</label>
      </div>
    </div>
    <div class="card-body">
      <div class="form-row">
      {{ NewAgreement | json}}
      </div>

      <div class="form-row m-0 p-0">
        <div class="form-group col-md-4">
            <label for="AgreementNumber" class="font-weight-bold">Agreement Number:</label>
            <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" id="AgreementNumber" placeholder="" [(ngModel)]="NewAgreement.AgreementNumber" required minlength="1" maxlength="20" #AgreementNumber="ngModel">
        </div>
        <div class="form-group col-md-8">
            <label for="FirstParty" class="font-weight-bold">First Party:</label>
            <input name="FirstParty" type="text" class="form-control bg-white" id="Lessor" placeholder="" [(ngModel)]="NewAgreement.FirstParty" maxlength="255" required>
        </div>
      </div>

      <div class="form-row m-0">
        <div class="form-group col-md-4">
            <label for="AltAgreementNumber" class="font-weight-bold">Alt Agreement Number:</label>
            <input name="AltAgreementNumber" type="text" class="form-control bg-white" id="AltAgreementNumber" placeholder="" [(ngModel)]="NewAgreement.AltAgreementNumber" maxlength="20"required>
        </div>
        <div class="form-group col-md-8">
            <label for="SecondParty" class="font-weight-bold">Second Party:</label>
            <input name="SecondParty" type="text" class="form-control bg-white" id="Lessee" placeholder="" [(ngModel)]="NewAgreement.SecondParty" maxlength="255" required>
        </div>
      </div>

      <div class="form-row m-0">
        <div class="form-group col-md-4">
          <label for="AgreementName" class="font-weight-bold">Agreement Name:</label>
          <input name="AgreementName" type="text" class="form-control form-control-sm bg-white" id="AgreementName" placeholder="" [(ngModel)]="NewAgreement.AgreementName" maxlength="255" required>
        </div>
        <div class="form-group col-md-2">
          <label for="GrossAcres_Calc" class="font-weight-bold">Gross Acres:</label>
          <input name="GrossAcres_Calc"  type="number" class="form-control font-weight-bold" id="GrossAcres_Calc" placeholder="" readonly value="0.00" [(ngModel)]="NewAgreement.GrossAcres_Calc">
        </div>
        <div class="form-group col-md-2">
          <label for="AgreementDate" class="font-weight-bold">Agreement Date:</label>
          <input name="AgreementDate" type="date" class="form-control bg-white" id="AgreementDate" placeholder="" [(ngModel)]="NewAgreement.AgreementDate" required>
        </div>
        <div class="form-group col-md-1">
          <label for="Term" class="font-weight-bold">Term:</label>
          <input name="Term" type="number" class="form-control bg-white" placeholder="" id="Term" min="0" [(ngModel)]="NewAgreement.Term" required>
        </div>
        <div class="form-group col-md-1">
          <label for="TermUnit" class="font-weight-bold">Term Unit:</label>
          <ng-select 
            [items]="TermUnits"
            bindLabel="description"
            bindValue = 'value'
            placeholder=""
            dropdownPosition= 'bottom'
            [(ngModel)]="NewAgreement.TermUnit"
            name="TermUnit"
            class=""
            id="TermUnit"
            required>
          </ng-select>    
        </div>
        <div class="form-group col-md-2">
          <label for="DropDate" class="font-weight-bold">Drop Date:</label>
          <input name="DropDate" type="date" class="form-control bg-white" id="DropDate"  placeholder="" [(ngModel)]="NewAgreement.DropDate">
        </div>
      </div>

      <div class="form-row m-0">
        <div class="form-group col-md-4">
          <label for="AgreementTypeCode" class="font-weight-bold">Agreement Type:</label>
          <ng-select 
            [items]="SelectOptions.AgreementTypes"
            bindLabel="AgreementTypeDesc"
            bindValue = 'AgreementTypeCode'
            placeholder="Select Agreement Type"
            dropdownPosition= 'bottom'
            [(ngModel)]="NewAgreement.AgreementTypeCode"
            name="AgreementTypeCode"
            class=""
            id="AgreementTypeCode"
            required>
          </ng-select>                
        </div>
        <div class="form-group col-md-2">
          <label for="ReportedAcres_Calc" class="font-weight-bold">Reported Acres:</label>
          <input name="ReportedAcres_Calc" type="number" class="form-control font-weight-bold" id="ReportedAcres_Calc"  placeholder="" readonly value="0.00" [(ngModel)]="NewAgreement.ReportedAcres_Calc">
        </div>
        <div class="form-group col-md-2">
          <label for="EffectiveDate" class="font-weight-bold">Effective Date:</label>
          <input name="EffectiveDate" type="date" class="form-control bg-white" id="EffectiveDate" placeholder="" [(ngModel)]="NewAgreement.EffectiveDate">
        </div>
        <div class="form-group col-md-2">
          <label for="ExpirationDate" class="font-weight-bold">Expiration Date:</label>
          <input name="ExpirationDate" type="date" class="form-control bg-white" id="ExpirationDate" placeholder="" [(ngModel)]="NewAgreement.ExpirationDate">
        </div>
        <div class="form-group col-md-2">
          <label for="DropReasonCode" class="font-weight-bold">Drop Reason:</label>
          <ng-select 
            [items]="SelectOptions.AgreementDropReasons"
            bindLabel="DropReasonDesc"
            bindValue = 'DropReasonCode'
            placeholder=""
            dropdownPosition= 'bottom'
            [(ngModel)]="NewAgreement.DropReasonCode"
            name="DropReasonCode"
            class=""
            id="DropReasonCode">
          </ng-select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="AgreementRightsTypeCode" class="font-weight-bold">Rights Owned:</label>
          <ng-select 
            [items]="SelectOptions.AgreementRightsTypes"
            bindLabel="AgreementRightsTypeDesc"
            bindValue = 'AgreementRightsTypeCode'
            placeholder="Select Rights Type"
            dropdownPosition= 'bottom'
            [(ngModel)]="NewAgreement.AgreementRightsTypeCode"
            name="AgreementRightsTypeCode"
            class=""
            id="AgreementRightsTypeCode"
            required>
          </ng-select>                 
        </div>
        <div class="form-group col-md-2">
          <label for="NetAcres_Calc" class="font-weight-bold">Net Acres:</label>
          <input name="NetAcres_Calc" type="number" class="form-control font-weight-bold" id="NetAcres_Calc" readonly  [(ngModel)]="NewAgreement.NetAcres_Calc">
        </div>
        <div class="form-group col-md-2">
          <label for="NextObligationDate" class="font-weight-bold">Next Obligation:</label>
          <input name="NextObligationDate" type="date" class="form-control bg-white" id="NextObligationDate" placeholder="" [(ngModel)]="NewAgreement.NextObligationDate">
        </div>
        <div class="form-group col-md-2">
          <label for="ExtendedExpDate" class="font-weight-bold">Ext. Expiration Date:</label>
          <input name="ExtendedExpDate" type="date" class="form-control bg-white" placeholder="" id="ExtendedExpDate" [(ngModel)]="NewAgreement.ExtendedExpDate">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="AgreementFormGroupCode" class="font-weight-bold">Agreement Form Group:</label>
          <ng-select 
            [items]="SelectOptions.AgreementGroupForms"
            bindLabel="AgreementGroupFormDesc"
            bindValue = 'AgreementGroupFormCode'
            placeholder="Select Form Group"
            dropdownPosition= 'bottom'
            [(ngModel)]="NewAgreement.AgreementFormGroupCode"
            name="AgreementFormGroupCode"
            class=""
            id="AgreementFormGroupCode"
            required>
          </ng-select>                 
        </div>
        <div class="form-group col-md-2">
          <label for="GroupAcres_Calc" class="font-weight-bold">Group Acres:</label>
          <input name="GroupAcres_Calc" type="number" class="form-control font-weight-bold" placeholder="" id="GroupAcres_Calc" readonly value="0.00" [(ngModel)]="NewAgreement.GroupAcres_Calc">
        </div>
        <div class="form-group col-md-2">
          <label for="AssnReceivedDate" class="font-weight-bold">First Assn Received:</label>
          <input name="AssnReceivedDate" type="date" class="form-control bg-white" placeholder="" id="AssnReceivedDate" [(ngModel)]="NewAgreement.AssnReceivedDate">
        </div>
        <div class="form-group col-md-4">
          <label for="AssnReceivedComment" class="font-weight-bold">Notes:</label>
          <textarea name="AssnReceivedComment" class="form-control bg-white" rows="1" id="AssnReceivedComment" [(ngModel)]="NewAgreement.AssnReceivedComment"></textarea>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="AgreementClassCode" class="font-weight-bold">Agreement Class:</label>
            <ng-select 
              [items]="SelectOptions.AgreementClassTypes"
              bindLabel="AgreementClassDesc"
              bindValue = 'AgreementClassCode'
              placeholder="Select Agreement Class"
              dropdownPosition= 'bottom'
              [(ngModel)]="NewAgreement.AgreementClassCode"
              name="AgreementClassCode"
              class=""
              id="AgreementClassCode"
              required>
            </ng-select>                
        </div>
        <div class="form-group col-md-1">
          <label for="CompanyAcres_Calc" class="font-weight-bold">Co. Acres:</label>
          <input name="CompanyAcres_Calc" type="number" class="form-control font-weight-bold" placeholder="" readonly value="0.00" id="CompanyAcres_Calc" [(ngModel)]="NewAgreement.CompanyAcres_Calc">
        </div>
        <div class="form-group col-md-1">
          <label for="CompanyNRIAcres_Calc" class="font-weight-bold">Co. NRIA:</label>
          <input name="CompanyNRIAcres_Calc" type="number" class="form-control font-weight-bold" placeholder="" readonly value="0.00" id="CompanyNRIAcres_Calc" [(ngModel)]="NewAgreement.CompanyNRIAcres_Calc">
        </div>
        <div class="form-group col-md-2">
          <label for="AssnDeliveredDate" class="font-weight-bold">First Assn Delivered :</label>
          <input name="AssnDeliveredDate" type="date" class="form-control bg-white" placeholder="" [(ngModel)]="NewAgreement.AssnDeliveredDate" id="AssnDeliveredDate">
        </div>
        <div class="form-group col-md-4">
          <label for="AssnDeliveredComment" class="font-weight-bold">Notes:</label>
          <textarea name="AssnDeliveredComment" class="form-control bg-white" rows="1" [(ngModel)]="NewAgreement.AssnDeliveredComment" id="AssnDeliveredComment"></textarea>
        </div>
      </div>
      
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="AgreementLegal" class="font-weight-bold">Agreement Legal</label>
          <textarea name="AgreementLegal" class="form-control bg-white" rows="3" [(ngModel)]="NewAgreement.AgreementLegal" id="AgreementLegal"></textarea>
        </div>
      </div>
    </div>
  </div>
</form>
<ng2-toasty [position]="position"></ng2-toasty>