<div class="card">
    <div class="row card-header">
        <button type="submit" class="btn btn-info btn-sm mb-0 align-bottom"  class="btn btn-sm btn-success toolbar-btn ml-1"><i class="fa fa-save"></i>Save</button>
        <h6 class="mt-2 mr-2">Status:</h6>
    </div>
  <div class="card-body">
        <div class="form-row m-0 p-0">
          <div class="form-group col-md-1">
            <label for="AgreementNumber" class="font-weight-bold">Unit Type:</label>
            <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
          </div>
          <div class="form-group col-md-2">
              <label for="AgreementNumber" class="font-weight-bold" readonly>Unit Number:</label>
              <input name="AgreementNumber" type="text" class="form-control form-control-sm" placeholder="">
          </div>
          <div class="form-group col-md-3">
              <label for="AgreementNumber" class="font-weight-bold">Unit Name:</label>
              <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
          </div>
          <div class="form-group col-md-2">
              <label for="AgreementNumber" class="font-weight-bold">Prospect:</label>
              <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
          </div>
          <div class="form-group col-md-2">
            <label for="Lessor" class="font-weight-bold" readonly>Region:</label>
            <input name="Lessor" type="text" class="form-control" placeholder="">
          </div>
          <div class="form-group col-md-1">
              <label for="Lessor" class="font-weight-bold" readonly>District:</label>
              <input name="Lessor" type="text" class="form-control" placeholder="">
          </div>
          <div class="form-group col-md-1">
              <label for="Lessor" class="font-weight-bold" readonly>Division:</label>
              <input name="Lessor" type="text" class="form-control" placeholder="">
          </div>
        </div>
        <div class="form-row m-0">
            <div class="form-group col-md-4">
              <label for="AltAgreementNumber" class="font-weight-bold">Unit Desciption:</label>
              <input name="AltAgreementNumber" type="text" class="form-control bg-white" placeholder="">
            </div>
            <div class="form-group col-md-2">
              <label for="Lessee" class="font-weight-bold">Unit Acres:</label>
              <input name="Lessee" type="text" class="form-control bg-white" placeholder="">
            </div>
            <div class="form-group col-md-2">
                <label for="Lessee" class="font-weight-bold">Operator:</label>
                <input name="Lessee" type="text" class="form-control bg-white" placeholder="">
            </div>
            <div class="form-group col-md-2">
                <label for="Lessee" class="font-weight-bold" readonly>From:</label>
                <input name="Lessee" type="text" class="form-control" placeholder="">
            </div>
            <div class="form-group col-md-2">
                <label for="Lessee" class="font-weight-bold" readonly>To:</label>
                <input name="Lessee" type="text" class="form-control" placeholder="">
            </div>
        </div>
        <div class="form-row m-0">
            <div class="form-group col-md-1">
              <label for="AltAgreementNumber" class="font-weight-bold">GWI:</label>
              <input name="AltAgreementNumber" type="text" class="form-control bg-white" placeholder="">
            </div>
            <div class="form-group col-md-1">
              <label for="Lessee" class="font-weight-bold">NRI:</label>
              <input name="Lessee" type="text" class="form-control bg-white" placeholder="">
            </div>
            <div class="form-group col-md-2">
                <label for="Lessee" class="font-weight-bold">Approved $/Ac:</label>
                <input name="Lessee" type="text" class="form-control bg-white" placeholder="">
            </div>
            <div class="form-group col-md-2">
                <label for="Lessee" class="font-weight-bold">Total AFE:</label>
                <input name="Lessee" type="text" class="form-control bg-white" placeholder="">
            </div>
            <div class="form-group col-md-2">
                <label for="Lessee" class="font-weight-bold">Grade:</label>
                <input name="Lessee" type="text" class="form-control bg-white" placeholder="">
            </div>
            <div class="form-group col-md-2">
                <label for="Lessee" class="font-weight-bold">Unit Configuration:</label>
                <input name="Lessee" type="text" class="form-control bg-white" placeholder="">
            </div>
            <div class="form-group col-md-2">
                <label for="Lessee" class="font-weight-bold">Depth Remark:</label>
                <input name="Lessee" type="text" class="form-control bg-white" placeholder="">
            </div>
        </div>
        <div class="form-row m-0">
            <div class="form-group col-md-1">
              <label for="AltAgreementNumber" class="font-weight-bold">Gross Acres:</label>
              <input name="AltAgreementNumber" type="text" class="form-control" placeholder="" readonly>
            </div>
            <div class="form-group col-md-1">
              <label for="Lessee" class="font-weight-bold">Net Acres:</label>
              <input name="Lessee" type="text" class="form-control" placeholder="" readonly>
            </div>
            <div class="form-group col-md-1">
                <label for="Lessee" class="font-weight-bold">Group Acres:</label>
                <input name="Lessee" type="text" class="form-control" placeholder="" readonly>
            </div>
            <div class="form-group col-md-1">
                <label for="Lessee" class="font-weight-bold">Co. Acres:</label>
                <input name="Lessee" type="text" class="form-control" placeholder="" readonly>
            </div>
            <div class="form-group col-md-1">
                <label for="Lessee" class="font-weight-bold">Co. NRIA:</label>
                <input name="Lessee" type="text" class="form-control" placeholder="" readonly>
            </div>
            <div class="form-group col-md-1">
                <label for="Lessee" class="font-weight-bold">WI:</label>
                <input name="Lessee" type="text" class="form-control" placeholder="" readonly>
            </div>
            <div class="form-group col-md-1">
                <label for="Lessee" class="font-weight-bold">NRI:</label>
                <input name="Lessee" type="text" class="form-control" placeholder="" readonly>
            </div>
            <div class="form-group col-md-1">
                <label for="Lessee" class="font-weight-bold">RI:</label>
                <input name="Lessee" type="text" class="form-control" placeholder="" readonly>
            </div>
            <div class="form-group col-md-1">
                <label for="Lessee" class="font-weight-bold">ORRI:</label>
                <input name="Lessee" type="text" class="form-control" placeholder="" readonly>
            </div>
        </div>
    </div>
</div>
