<div class="card">
    <div class="row card-header">
        <button type="submit" class="btn btn-info btn-sm mb-0 align-bottom"  class="btn btn-sm btn-success toolbar-btn ml-1"><i class="fa fa-save"></i>Save</button>
    </div>
  <div class="card-body">
        <div class="form-row m-0 p-0">
          <div class="form-group col-md-2">
            <label for="AgreementNumber" class="font-weight-bold">Case Type:</label>
            <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
          </div>
          <div class="form-group col-md-2">
              <label for="AgreementNumber" class="font-weight-bold">Log Date:</label>
              <input name="AgreementNumber" type="date" class="form-control form-control-sm bg-white" placeholder="">
          </div>
          <div class="form-group col-md-2">
              <label for="AgreementNumber" class="font-weight-bold">Source:</label>
              <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
          </div>
          <div class="form-group col-md-2">
              <label for="AgreementNumber" class="font-weight-bold">BA Number:</label>
              <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
          </div>
          <div class="form-group col-md-4">
            <label for="Lessor" class="font-weight-bold">BA Name:</label>
            <input name="Lessor" type="text" class="form-control form-control-sm bg-white" placeholder="">
          </div>
        </div>
        <div class="form-row m-0 p-0">
            <div class="form-group col-md-2">
              <label for="AgreementNumber" class="font-weight-bold">Document Date:</label>
              <input name="AgreementNumber" type="date" class="form-control form-control-sm bg-white" placeholder="">
            </div>
            <div class="form-group col-md-2">
                <label for="AgreementNumber" class="font-weight-bold">Document Return Date:</label>
                <input name="AgreementNumber" type="date" class="form-control form-control-sm bg-white" placeholder="">
            </div>
          </div>       
    </div>
</div>


