<form>
    <div class="card m-0">
        <div class="card-body">
            <div class="form-row m-0 p-0">
              <!-- FIRST COLUMN -->
                <div class="col form-block">
                  <div class="form-group">
                    <label for="AgreementNumber" class="font-weight-bold">File Name:</label>
                    <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                  </div>
                  <div class="form-group">
                      <label for="AgreementNumber" class="font-weight-bold">File Path:</label>
                      <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                  </div>
                  <div class="form-group">
                      <label for="AgreementNumber" class="font-weight-bold">File Size:</label>
                      <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                  </div>
                  <div class="form-group">
                      <label for="AgreementNumber" class="font-weight-bold">Document Type:</label>
                      <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                  </div>
                </div>
                <!-- Second COLUMN -->
                <div class="col">
                  <div class="form-group">
                      <label for="AgreementNumber" class="font-weight-bold">Cross References:</label>
                      <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                  </div>
                  <div class="form-row m-0 p-0">
                        <div class=" form-check col-sm">
                          <label for="AgreementNumber" class="font-weight-bold">Lease</label>
                          <input name="AgreementNumber" type="checkbox" class="form-control form-control-sm  bg-white" placeholder="">
                        </div>
                        <div class=" form-group col-sm">
                            <label for="AgreementNumber" class="font-weight-bold">Contract</label>
                            <input name="AgreementNumber" type="checkbox" class="form-control form-control-sm bg-white" placeholder="">
                        </div>
                        <div class=" form-group col-sm">
                            <label for="AgreementNumber" class="font-weight-bold">Well</label>
                            <input name="AgreementNumber" type="checkbox" class="form-control form-control-sm bg-white" placeholder="">
                        </div>
                    </div>
                    <div class="form-row m-0 p-0">
                        <div class=" form-group col-sm">
                          <label for="AgreementNumber" class="font-weight-bold">Case</label>
                          <input name="AgreementNumber" type="checkbox" class="form-control form-control-sm bg-white" placeholder="">
                        </div>
                        <div class=" form-group col-sm">
                            <label for="AgreementNumber" class="font-weight-bold">Unit</label>
                            <input name="AgreementNumber" type="checkbox" class="form-control form-control-sm bg-white" placeholder="">
                        </div>
                        <div class=" form-group col-sm">
                            <label for="AgreementNumber" class="font-weight-bold">Unassigned</label>
                            <input name="AgreementNumber" type="checkbox" class="form-control form-control-sm bg-white" placeholder="">
                        </div>
                    </div>
                </div>
                <!-- THIRD COLUMN -->
                <div class="col">
                      <div class="form-row m-0 p-0">
                          <div class=" form-group col-sm">
                            <label for="AgreementNumber" class="font-weight-bold">Division:</label>
                            <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                          </div>
                          <div class=" form-group col-sm">
                              <label for="AgreementNumber" class="font-weight-bold">District:</label>
                              <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                          </div>
                      </div>
                      <div class="form-row m-0 p-0">
                          <div class=" form-group col-sm">
                            <label for="AgreementNumber" class="font-weight-bold">Region:</label>
                            <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                          </div>
                          <div class=" form-group col-sm">
                              <label for="AgreementNumber" class="font-weight-bold">Prospect:</label>
                              <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="AgreementNumber" class="font-weight-bold">Units:</label>
                          <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                      </div>
                      <div class="form-group">
                          <label for="AgreementNumber" class="font-weight-bold">State:</label>
                          <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                      </div>
                      <div class="form-group">
                          <label for="AgreementNumber" class="font-weight-bold">County:</label>
                          <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                      </div>
                </div>
                <!-- FOURTH COLUMN -->
                <div class="col">
                    <div class="form-row m-0 p-0">
                        <div class=" form-group col-sm">
                          <label for="AgreementNumber" class="font-weight-bold">SEC:</label>
                          <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                        </div>
                        <div class=" form-group col-sm">
                            <label for="AgreementNumber" class="font-weight-bold">TWN:</label>
                            <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                        </div>
                        <div class=" form-group col-sm">
                            <label for="AgreementNumber" class="font-weight-bold">Dir:</label>
                            <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                        </div>
                        <div class=" form-group col-sm">
                            <label for="AgreementNumber" class="font-weight-bold">RNG:</label>
                            <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                        </div>
                        <div class=" form-group col-sm">
                            <label for="AgreementNumber" class="font-weight-bold">Dir:</label>
                            <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                        </div>
                    </div>
                    <div class="form-row m-0 p-0">
                        <div class=" form-group col">
                          <label for="AgreementNumber" class="font-weight-bold">Abstract/Parcel:</label>
                          <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                        </div>
                        <div class=" form-group col">
                            <label for="AgreementNumber" class="font-weight-bold">Block:</label>
                            <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                        </div>
                        <div class=" form-group col">
                            <label for="AgreementNumber" class="font-weight-bold">Survey/Township:</label>
                            <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                        </div>
                    </div>
                    <div class="form-row m-0 p-0">
                      <div class=" form-group col-sm">
                        <label for="AgreementNumber" class="font-weight-bold">Uploaded Date Start:</label>
                        <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                      </div>
                      <div class=" form-group col-sm">
                        <label for="AgreementNumber" class="font-weight-bold"> End:</label>
                        <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                      </div>
                    </div>
                    <div class="form-group">
                        <label for="AgreementNumber" class="font-weight-bold">Remark:</label>
                        <input name="AgreementNumber" type="text" class="form-control form-control-sm bg-white" placeholder="">
                    </div>
                </div>
            </div>
        </div>
    </div>
  </form>
  <!-- <ng2-toasty [position]="position"></ng2-toasty> -->
  



